# Future User Adoption

In [1]:
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import os
import datetime
import pprint

In [2]:
path = "/Users/jasonzhou/Documents/GitHub/Portfolio/SpringBoard/Exercises/relax_challenge"
os.chdir(path)

df1 = pd.read_csv("takehome_users.csv", encoding='latin-1')
df2 = pd.read_csv("takehome_user_engagement.csv", encoding='latin-1')

In [3]:
df1

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [4]:
df2

                 time_stamp  user_id  visited
0       2014-04-22 03:53:30        1        1
1       2013-11-15 03:45:04        2        1
2       2013-11-29 03:45:04        2        1
3       2013-12-09 03:45:04        2        1
4       2013-12-25 03:45:04        2        1
...                     ...      ...      ...
207912  2013-09-06 06:14:15    11996        1
207913  2013-01-15 18:28:37    11997        1
207914  2014-04-27 12:45:16    11998        1
207915  2012-06-02 11:55:59    11999        1
207916  2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  object
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  object
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

Defining an "adopted user" as a user who has logged into the product on three separate days in at least one seven day period, identify which factors predict future user adoption.

It would be helpful to join the two tables on user ID.

In [7]:
# Joining two dataframes

df1 = df1.rename(columns={"object_id": "user_id"})
df = pd.merge(df1, df2, how='outer', on='user_id')

In [8]:
df

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-22 03:53:30,1.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-15 03:45:04,1.0
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-29 03:45:04,1.0
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-09 03:45:04,1.0
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-25 03:45:04,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
211089,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0,2013-09-06 06:14:15,1.0
211090,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN,2013-01-15 18:28:37,1.0
211091,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0,2014-04-27 12:45:16,1.0
211092,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN,2012-06-02 11:55:59,1.0
211093,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN,2014-01-26 08:57:12,1.0

The strategy:
    
The goal is to predict user adoption, which is defined in the problem. I will approach this by using binary classification models, and the two classes will be "not adopted user" and "adopted user". First I will need to use the data given to determine which of the two classes each of the users in the data falls under. Once they are all labeled, we can begin to use the data to build models that are able to predict future user adoption. 

An adopted user is a user who's logged into the product on several days in at least one seven-day period. To correctly identify each user as an adopted user or not, we'll have to iterate through each user and examine the timestamps of all of their logins. Based on these timestamps, we will be able to tell if each user meets the criteria of an adopted user.

For each user, retrieve all of their login time stamps, and iterate through each 3 day grouping. If the there is less than a seven day difference between the first and third day of each three-day grouping, then the user can be said to be an adopted user. Dates come sorted already so no need for us to do that. If user has less than 2 total logins then they can be immediately be ruled as not an adopted user.

In [9]:
import datetime

def isAdopted(user_id):
    timestamps = df['time_stamp'][df['user_id'] == user_id]
    if len(timestamps) <= 2:
        return 0
    
    dates = [datetime.datetime(int(timestamp[:4]), int(timestamp[5:7]), int(timestamp[8:10])) for timestamp in timestamps]
    for i in range(len(dates) - 2):
        daysApart = dates[i+2] - dates[i]
        if daysApart.days <= 7:
            return 1

    return 0

In [10]:
adoptedUsers = []

for i in range(12000):
    adoptedUsers.append(isAdopted(i+1))

In [11]:
df1['Adopted'] = adoptedUsers
df1

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,Adopted
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,0
...,...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0,0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN,0
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0,0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN,0
11999,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN,0

In [12]:
# Check for data imbalance

df1['Adopted'].value_counts()

0    10344
1     1656
Name: Adopted, dtype: int64

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   user_id                     12000 non-null  int64
 1   creation_time               12000 non-null  object
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
 10  Adopted                     12000 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.0+ MB

# Feature Engineering

creation_time looks to be a promising feature but its str format does not make it readily available to work with. I instead would rather have a feature that tells us how much time has elapsed between "now" and when the user created an account.

In [14]:
daysOld = []

# Arbitrary "now" that dates somewhat recently to the most recent date in the data set.
now = datetime.datetime(2015, 1, 1)

for i in range(len(df1)):
    timestamp = df1['creation_time'][i]
    creationtime = datetime.datetime(int(timestamp[:4]), int(timestamp[5:7]), int(timestamp[8:10]))
    daysApart = now - creationtime
    daysOld.append(daysApart.days)

In [15]:
df1['daysOld'] = daysOld

'name' and 'email' should not be great predictive features at all because each user should have a name and email that is unique to them. Even if it's possible for two people to have the same first and last name, there's no way that having a certain name will cause users to be more likely to be "adopted users".

creation_source can be encoded into dummy columns because there are only 5 unique values of it.

last_session_creation_time appears to have quite an amount of missing values. If there is a missing value in this column, it simply means that the user has not logged in a single time since creating their account. Let's instead engineer this feature to be "days since last login". For users who haven't logged in since creating their account, this value will simply be their 'daysOld' value.

In [16]:
daysLastLogin = []

for i in range(len(df1)):
    timestamp = df1['last_session_creation_time'][i]
    if np.isnan(timestamp):
        daysLastLogin.append(daysOld[i])
    else:
        date = datetime.datetime.utcfromtimestamp(timestamp)
        daysApart = now - date
        daysLastLogin.append(daysApart.days)

In [17]:
df1['daysLastLogin'] = daysLastLogin

The next two features are fine as they are, now we come across 'org_id'. Let's see how many unique values of this column there are.

In [18]:
df1['org_id'].value_counts()

0      319
1      233
2      201
3      168
4      159
      ...
396      9
400      8
397      8
386      7
416      2
Name: org_id, Length: 417, dtype: int64

While org_id is a numeric value, this is in reality a categorical feature. It would be misleading to leave the column as is, as there is no such thing as an org being "greater" than another org. Dummy encoding would result in too many new columns so I would process this feature with binary encoding.

In [28]:
import category_encoders as ce

encoder = ce.BinaryEncoder(cols=['org_id'],return_df=True)

org_encoded = encoder.fit_transform(df1) 
org_encoded = org_encoded[['org_id_0', 'org_id_1', 'org_id_2', 'org_id_3', 'org_id_4', 'org_id_5',
                           'org_id_6', 'org_id_7', 'org_id_8', 'org_id_9']]

/opt/anaconda3/lib/python3.7/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

'invited_by_user_id' also has a number of missing values. This makes sense, as not every user will have necessarily been invited to start using the service. Let's first see how many unique values of this column there are.

In [21]:
df1['invited_by_user_id'].value_counts()

10741.0    13
2527.0     12
2308.0     11
1525.0     11
11770.0    11
           ..
2746.0      1
10456.0     1
8371.0      1
6266.0      1
3572.0      1
Name: invited_by_user_id, Length: 2564, dtype: int64

If we were to encode this column into dummy columns, 2500 additional columns would be generated. Were I to have the computing power to handle this I'd go for it, but I don't so I'm going to simplify this feature. I'm simply going engineer a feature called "invited", which will tell us if the user was invited or not.

In [22]:
invited = []

for i in range(len(df1)):
    if np.isnan(df1['invited_by_user_id'][i]):
        invited.append(0)
    else:
        invited.append(1)

In [23]:
df1['invited'] = invited

In [24]:
df1.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,Adopted,daysOld,daysLastLogin,invited
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,0,254,253,1
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1,412,275,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,0,653,652,1
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,0,590,588,1
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,0,714,708,1

We're done engineering our features now, we're going to be moving forward into correlation analysis with these:

- creation_source (dummy encoded)
- opted_in
- enabled_for
- org_id
- daysOld
- daysLastLogin
- invited

Our target is 'Adopted'.

In [25]:
CSEnc = pd.get_dummies(df1['creation_source'])

In [30]:
dfEDA = df1[['opted_in_to_mailing_list', 'enabled_for_marketing_drip', 'Adopted', 'daysOld',
             'daysLastLogin', 'invited']]

dfEDA = pd.concat([dfEDA, CSEnc], axis=1)
dfEDA = pd.concat([dfEDA, org_encoded], axis=1)

In [32]:
dfEDA.corr()

,opted_in_to_mailing_list,enabled_for_marketing_drip,Adopted,daysOld,daysLastLogin,invited,GUEST_INVITE,ORG_INVITE,PERSONAL_PROJECTS,SIGNUP,...,org_id_0,org_id_1,org_id_2,org_id_3,org_id_4,org_id_5,org_id_6,org_id_7,org_id_8,org_id_9
opted_in_to_mailing_list,1.000000,0.483529,0.008838,0.007304,0.003095,0.006934,0.000667,0.006694,-0.007432,0.002181,...,NaN,-0.007407,0.011053,0.004713,0.019823,0.009120,0.012583,-0.003006,-0.004561,-0.004984
enabled_for_marketing_drip,0.483529,1.000000,0.006578,-0.005142,-0.009891,0.002216,-0.002438,0.004270,-0.007518,0.004528,...,NaN,0.001900,0.001391,0.020261,0.006998,0.011107,-0.006215,-0.009224,-0.008498,-0.018763
Adopted,0.008838,0.006578,1.000000,0.086208,-0.358549,0.027831,0.044317,-0.006592,-0.075717,0.008920,...,NaN,0.042424,0.020011,0.001080,0.003807,0.022208,0.016662,-0.011579,0.015892,0.011763
daysOld,0.007304,-0.005142,0.086208,1.000000,0.837661,-0.005307,0.012021,-0.015193,0.026567,-0.015802,...,NaN,-0.008534,-0.006193,0.000971,-0.003825,0.000217,0.012146,0.016257,-0.008802,0.008617
daysLastLogin,0.003095,-0.009891,-0.358549,0.837661,1.000000,-0.016590,-0.012140,-0.007543,0.065252,-0.019981,...,NaN,-0.030998,-0.009140,0.000950,-0.007082,-0.006404,0.001842,0.019281,-0.017984,0.005888
invited,0.006934,0.002216,0.027831,-0.005307,-0.016590,1.000000,0.437386,0.691238,-0.495336,-0.491916,...,NaN,-0.023983,-0.005161,0.010588,0.014484,-0.005841,0.002312,-0.004750,-0.004007,0.001020
GUEST_INVITE,0.000667,-0.002438,0.044317,0.012021,-0.012140,0.437386,1.000000,-0.347502,-0.216653,-0.215157,...,NaN,-0.021664,0.009512,0.000817,0.022937,-0.014244,0.005800,-0.004273,-0.008379,-0.000248
ORG_INVITE,0.006694,0.004270,-0.006592,-0.015193,-0.007543,0.691238,-0.347502,1.000000,-0.342395,-0.340031,...,NaN,-0.007599,-0.013025,0.010384,-0.003328,0.005355,-0.002250,-0.001519,0.002554,0.001263
PERSONAL_PROJECTS,-0.007432,-0.007518,-0.075717,0.026567,0.065252,-0.495336,-0.216653,-0.342395,1.000000,-0.211995,...,NaN,0.008608,0.008336,0.002152,-0.008397,-0.007676,-0.002844,0.002922,0.008291,0.009625
SIGNUP,0.002181,0.004528,0.008920,-0.015802,-0.019981,-0.491916,-0.215157,-0.340031,-0.211995,1.000000,...,NaN,0.016840,-0.000851,-0.015713,-0.009869,0.008864,0.004888,0.005918,-0.005020,-0.000775
SIGNUP_GOOGLE_AUTH,-0.004555,0.000127,0.036198,-0.004628,-0.028155,-0.387255,-0.169380,-0.267686,-0.166891,-0.165739,...,NaN,0.007204,-0.000868,-0.000453,-0.000897,0.007749,-0.006019,-0.003088,0.002331,-0.012142
org_id_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
org_id_1,-0.007407,0.001900,0.042424,-0.008534,-0.030998,-0.023983,-0.021664,-0.007599,0.008608,0.016840,...,NaN,1.000000,-0.201047,-0.058324,-0.011394,0.014390,0.000044,-0.036401,-0.004896,-0.016707
org_id_2,0.011053,0.001391,0.020011,-0.006193,-0.009140,-0.005161,0.009512,-0.013025,0.008336,-0.000851,...,NaN,-0.201047,1.000000,-0.041225,-0.028655,0.024572,-0.005054,0.024679,0.043400,0.009104
org_id_3,0.004713,0.020261,0.001080,0.000971,0.000950,0.010588,0.000817,0.010384,0.002152,-0.015713,...,NaN,-0.058324,-0.041225,1.000000,0.064856,-0.024384,-0.006696,0.027263,0.027713,0.029992
org_id_4,0.019823,0.006998,0.003807,-0.003825,-0.007082,0.014484,0.022937,-0.003328,-0.008397,-0.009869,...,NaN,-0.011394,-0.028655,0.064856,1.000000,0.003439,0.074169,0.015034,-0.003174,-0.014872
org_id_5,0.009120,0.011107,0.022208,0.000217,-0.006404,-0.005841,-0.014244,0.005355,-0.007676,0.008864,...,NaN,0.014390,0.024572,-0.024384,0.003439,1.000000,-0.038580,-0.019491,-0.043798,-0.046295
org_id_6,0.012583,-0.006215,0.016662,0.012146,0.001842,0.002312,0.005800,-0.002250,-0.002844,0.004888,...,NaN,0.000044,-0.005054,-0.006696,0.074169,-0.038580,1.000000,0.049099,-0.045667,0.055251
org_id_7,-0.003006,-0.009224,-0.011579,0.016257,0.019281,-0.004750,-0.004273,-0.001519,0.002922,0.005918,...,NaN,-0.036401,0.024679,0.027263,0.015034,-0.019491,0.049099,1.000000,0.013818,0.056910
org_id_8,-0.004561,-0.008498,0.015892,-0.008802,-0.017984,-0.004007,-0.008379,0.002554,0.008291,-0.005020,...,NaN,-0.004896,0.043400,0.027713,-0.003174,-0.043798,-0.045667,0.013818,1.000000,-0.001886
org_id_9,-0.004984,-0.018763,0.011763,0.008617,0.005888,0.001020,-0.000248,0.001263,0.009625,-0.000775,...,NaN,-0.016707,0.009104,0.029992,-0.014872,-0.046295,0.055251,0.056910,-0.001886,1.000000

Looking at the row corresponding to 'Adopted', we can identify the relatively higher correlated features to it.

- daysLastLogin (by far)
- daysOld
- invited
- creation_source
- org_id

Days since last login appears to be by far the biggest predictor of adoption status, with the other features potentially being predictors.